# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Archivos de entorno
.env
.env.local
.env.*.local

# Directorios de IDEs y editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de dependencias de build (si estás usando algún sistema de build o bundler)
dist/
build/
